
.PriceTable {
  width: 90%;
  margin: 0 auto;
}
.PartTbody {
  background: white;
  border: 0px solid #f0f0f0;
  border-width: 40px 0;
}

.PartHeader {
  padding: 10px 10px;
  border-top: 1px solid DarkGray;
}
.PartTbody th {
  padding: 5px;
}
.PartFooter {
  padding: 10px 10px;
  border-top: 1px solid #ccc;
}
.PartFooter a {
  color: #999;
  margin-right: 20px;
}
.PartFooter a:hover {
  color: #333;
  text-decoration: none;
}

/* border hack */
.PartTbody th:first-child,
.PartTbody td:first-child {
  border-left: 1px solid DarkGray;
  padding-left: 5px;
}
.PartTbody th:last-child,
.PartTbody td:last-child {
  border-right: 1px solid DarkGray;
  padding-right: 5px;
}
.PartTbody tr:first-child td,
.PartTbody tr:last-child td {
  padding-left: 0;
  padding-right: 0;
}
.PartFooter {
  border-bottom: 1px solid DarkGray;
}


/* col specific styling */
.priceAtBreak {
  text-align: right;
}

[data-col-header="Stock"],
[data-col-header="MOQ"],
[data-col-header="Pkg"] {
  text-align: right;
}
.colPkg {
  border-right: 1px solid #ccc;
}


.PartTbody th {
  font-size: 12px;
}
.PartOfferRow-even td,
.PartOfferRow-odd  td {
  font-size: 12px;
  padding: 5px;
  border-top: 1px solid #ddd;
}
.PartOfferRow-odd {
  background: whitesmoke;
}
