body {
  background: #f0f0f0;
}

.TopSearch {
  background: white;
  padding: 15px 10px;
  border-bottom: 1px solid #ccc;
}

.Results {
  margin: 15px 10px;
}


.ResultRow {
  background: white;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}
.ResultRow__image {
  float: left;
  margin-right: 10px;
}
.ResultRow__info {
  font-size: 16px;
  line-height: 1.3;
}
.ResultRow__short_description {
  font-size: 10px;
  color: #555;
}

.input--invalid {
  background: papayawhip;
}
